Package: discount-dbgsym
Source: discount
Version: 2.2.4-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Alessandro Ghedini <ghedo@debian.org>
Installed-Size: 79
Depends: discount (= 2.2.4-1)
Section: debug
Priority: optional
Description: debug symbols for discount
Build-Ids: 3b01cf107f36b5a6bd9d4c9eb412818ef617b6be 819cce94272206a3876f049594a428067ac60951 ac0ea94056cc527ec4bbb16ebca2fc8bc8632809 af831b5a9289f8856432dcc26712aacac69fac44
